<%- include('../includes/head.ejs') %> 
        <%- include('../includes/nav.ejs') %> 
        <main>
            <h1 style="text-align: center; margin-top: 80px;">Page not found!</h1>
        </main>
<%- include('../includes/end.ejs') %> 